* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;

  display: grid;
  place-items: center;
  height: 100vh;

  background: linear-gradient(45deg, #e2d9c7, #e26600);
  background-size: 200% 200%;
  
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.hide {
  display: none;
}

main {
  padding: 4.8rem 6.4rem 6.4rem;

  background: #FFFFFF;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: .5rem;
  
  width: min(42.8rem, 90%);
  margin-top: -12rem;

  text-align: center;

  animation: screenAnimation 3s backwards;
}

@keyframes screenAnimation {

  0% {
    opacity: 0;
    transform: translateX(-70px);
  }
 
  100% { 
    opacity: 1;
    transform: translateY(0);
  }
}

/* Screen1 */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
}

h1, h2 {
  color: #34355B;
}

.screen1 p {
  font-size: 1.5rem;
  color: #34355B;
  margin-bottom: 2.0rem;

  text-shadow: 0rem .4rem .4rem rgba(0, 0, 0, 0.25);
}

#fortuneCookie {
  border: none;
  background: none;

  cursor: pointer;
}

#fortuneCookie:hover {
  animation: loading 0.7s infinite;
}

@keyframes loading {

  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
	50% {
		transform: rotate(5deg);
	}
  75% {
    transform: rotate(-5deg);
  }
	100% { 
		transform: rotate(5deg);
  }
}


/* Screen2 */
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-bottom: 1.7rem;
}

.screen2 p {
  font-size: 1.5rem;
  color: #34355B;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  
  background: #E4EDF1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

  animation: phraseAnimation 5s backwards;
}

@keyframes phraseAnimation {

  0% {
    opacity: 0;
    transform: translateZ(-70px);
  }
 
  100% { 
    opacity: 1;
    transform: translate(0);
  }
}

.screen2 img {
  margin: 1.7rem 0;
}

#btnReset {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
  padding: 1.6rem;

  background: #FF9500;
  border-radius: .4rem;
  border: none;
  
  cursor: pointer;

  transition: background .3s;
}

#btnReset:hover {
  background-color: #db8000;
}